CLICKHOUSE_ADDRESS=http://localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=eth_indexer
TRANSACTIONS_HASH_COLUMN=hash
RECEIPTS_TABLE=receipts
RECEIPTS_BLOCK_COLUMN=block_number
RECEIPTS_HASH_COLUMN=transaction_hash
ETH_NODE_URL=http://localhost:8545
